*{
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*HEADER*/

#header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    background: white;
    backdrop-filter: blur();
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    margin-left: 20px;
}

.header-nav a {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    margin: 0 20px;
}

.btn:hover {
    color: white;
    background: #BCD0E5;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-right: 25px;
    width: 102px;
    height: 43px;
}

.btn-title {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    margin-right: 25px;
    width: 110px;
    height: 43px;
}

.header-button a {
    font-size: 22px;
    color: #02897A;
}

/*HERO*/

#hero {
    padding: 40px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}

.hero-text p {
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
    padding: 18px 0 45px 0;
}

.hero-btn {
    display: flex;
    align-items: center;
}

.hero-btn button {
    padding: 12px 22px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
}

.hero-btn a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
    display: flex; align-items: center;
    padding-left: 20px;
}

.hero-btn a ion-icon{
    font-size: 25px;
}

/*PRODUCT*/

#Product {
    padding: 40px 0;
}

.Product h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
    padding-bottom: 66px;

}

 .product-bloks {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

.product-block div {
    background: #02897A;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-block div ion-icon {
    color: #FFFFFF;
    font-size: 25px;
    rotate: 275deg;
}

.product-block h2 {
    padding: 30px 13px 0;
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
}

.product-block h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product-btn button{
    font-weight: 700;
    font-size: 16px;
    background: #02897A;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
}

.product-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
}

/*Management*/

#management {
    padding: 100px 0;
}

.management h5 {
    padding: 10px 0;
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.management h1 {
    margin: 30px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}

.management p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.management-img {
    z-index: -99;
    padding: 100px 0;
    position: absolute;
    width: 539.83px;
    height: 473.47px;
    left: 715px;
    top: 1231.83px;
}

/*SUPPORT*/

#support {
    padding: 80px 0;
}

.support {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-title h5 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.support-title h1 {
    padding: 20px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}

.support-title p{
    margin: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.support-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block1 {
    background: #FF9900;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block2 {
    background: #F03E3D;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block3 {
    background: #4D8DFF;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-block div ion-icon {
    color: #FFFFFF;
    font-size: 25px;
}

.support-block p {
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

/*FOR*/

#for {
    padding: 80px 0;
}

.for {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.for-text h3 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.for-text h1 {
    margin: 10px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}

.for-text p {
    margin: 20px 0;
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}

.for-captext h4{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.for-captext p{
    margin: 15px 0;
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}

/*LINK*/

#link {
    padding: 80px 0;
    margin-left: 95px;
}

.link{
    background: #02897A;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.ninly h1{
    padding: 49px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;

}

.ninly{
    margin-left: 84px;
}

.ninly button {
    margin: 56px 0 ;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
}

/*FOOTER*/

.contact {
    padding: 37px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-title {
    display: flex;
    justify-content:space-around;
    margin-bottom: 140px;
}

.contact-title h1{
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    margin-left: 10px;
}

.contact a {
    margin-right: 1000px;
    color:#02897A;
    width: 11px;
    height: 20px;
}

.contact-texst h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #22343D;
}

.contact-texst P{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}

.contact-texst2 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #22343D;
}

.contact-texst2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}

.contact-cuptitle h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    margin-bottom: 30px;
}

.input-title {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    margin-bottom: 21px;
}

.contact-cuptitle input {
    font-size: 16px;
    line-height: 28px;
    color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 15px;
}

.contact-btn button {
    background: #02897A;
    border-radius: 4px;
    width: 131px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px ;
}

.foot p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #22343D;
}

/*USERS*/

#users {
    background: url("../img/Bg.png") no-repeat top/cover;
    padding: 80px 0;
}

.title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
    padding-bottom: 10px;
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
}

.user {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.users img{
    margin: 0 20px;
}

.user-title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #2F281E;
    width: 274px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
}

.user-title{
    position: relative;
}

.figure1 {
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50px;
}

.figure2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    position: absolute;
    left: 35px;
    bottom: -25px;
}

.figure3 {
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: 50px;
}

.figure4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    position: absolute;
    right: 35px;
    bottom: -25px;
}

.users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.user-btn {
    padding: 15px 40px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
}

/*CONTENT*/

#content {
    padding: 50px 0;
}

.content {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.content-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    padding-bottom: 10px;
}

.content-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    padding-bottom: 50px;
}

.block {
    width: 348px;
    height: 359px;
    border-radius: 8px;
    border: 2px solid gray;
}

.block h4{
    padding: 15px 0;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    text-align: center;
}

.block h4 span{
    font-weight: 700;
}

.block h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



